<!DOCTYPE html>
<html>
<div th:fragment="form-frgmt" class="row-fluid">
	<div class="well center-block" id="create-update-form">
		<fieldset name="name" title="Name">
			<div class="form-group required">
				<div class="input-group">
					<div class="input-group-addon">Given Name</div>
					<input id="given-name" name="given" class="form-control" type="text" placeholder=""></input>
				</div>
			</div>
			<!-- <div class="form-group required">
				<div class="input-group">
					<div class="input-group-addon">Given Name (Other)</div>
					<input id="given-name-2" class="form-control" type="text" placeholder=""></input>
				</div>
			</div> -->
			<div class="form-group required">
				<div class="input-group">
					<div class="input-group-addon">Family Name</div>
					<input id="family-name" name="family" class="form-control" type="text" placeholder=""></input>
				</div>
			</div>
		</fieldset>	
		<fieldset name="address" title="address">
			<div class="form-group required">
				<div class="input-group">
					<div class="input-group-addon">Use</div>
					<select class="form-control" name="address_use">
						<option value="home">Home</option>
						<option value="work">Work</option>
						<option value="temp">Temp</option>
						<option value="old">Old</option>
					</select>
				</div>
			</div>	
			<div class="form-group required"> 
				<div class="input-group">
					<div class="input-group-addon">Address</div>
					<input id="address-line-1" name="address" class="form-control" type="text" placeholder=""></input>
				</div>
			</div>
			<!-- <div class="form-group required">
				<div class="input-group">
					<div class="input-group-addon">Address (Line 2)</div>
					<input id="address-line-2" class="form-control" type="text" placeholder=""></input>
				</div>
			</div> -->
			<div class="form-group required">
				<div class="input-group">
					<div class="input-group-addon">City</div>
					<input id="city" name="city" class="form-control" type="text" placeholder=""></input>
				</div>
			</div>
			<div class="form-group required">
				<div class="input-group">
					<div class="input-group-addon">Postal Code</div>
					<input id="postal-code" name="postal_code" class="form-control" type="text" placeholder=""></input>
				</div>
			</div>
			<div class="form-group required">
				<div class="input-group">
					<div class="input-group-addon">State</div>
					<input id="state" name="state" class="form-control" type="text" placeholder=""></input>
				</div>
			</div>
			<div class="form-group required">
				<div class="input-group">
					<div class="input-group-addon">Country</div>
					<input id="country" name="country" class="form-control" type="text" placeholder=""></input>
				</div>
			</div>
			<fieldset title="Period">
				<div class="form-group">
					<div class="input-group date date-group" data-date-format="YYYY-MM-DD">
						<div class="input-group-addon">Start Date</div>
						<input name="address_period_start" class="form-control" type="text" placeholder=""></input>
						<div style="padding: 6px;" class="input-group-addon">
							<i class="fa fa-chevron-circle-down"></i>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group date date-group" data-date-format="YYYY-MM-DD">
						<div class="input-group-addon">End Date</div>
						<input name="address_period_end" class="form-control" type="text" placeholder=""></input>
						<div style="padding: 6px;" class="input-group-addon">
							<i class="fa fa-chevron-circle-down"></i>
						</div>
					</div>
				</div>
			</fieldset>
		</fieldset>	
			
			<div class="form-group required">
				<div class="input-group date date-group" data-date-format="YYYY-MM-DD">
					<div class="input-group-addon">Birthdate</div>
					<input name="birthDate" id="birthdate" class="form-control" type="text" placeholder=""></input>
					<div style="padding: 6px;" class="input-group-addon">
						<i class="fa fa-chevron-circle-down"></i>
					</div>
				</div>
			</div>
			<!-- <div style="display: none;" class="select2-drop-mask" id="patient-s2-drop-mask"></div>
			<div
				style="display: none;"
				class="select2-drop select2-display-none select2-with-searchbox select2-drop-active">
				<div class="select2-search">
					<label for="s2id_autogen2_search" class="select2-offscreen"></label>
					<input aria-activedescendant="select2-result-label-66"
						placeholder="" id="s2id_autogen2_search"
						aria-owns="select2-results-2" autocomplete="off" autocorrect="off"
						autocapitalize="off" spellcheck="false" class="select2-input"
						role="combobox" aria-expanded="true" aria-autocomplete="list"
						type="text"></input>
				</div>
				<ul id="select2-results-2" class="select2-results" role="listbox"></ul>
			</div> -->
			<div class="form-group required">
				<div class="input-group">
					<div class="input-group-addon">Gender</div>
					<select name="gender" id="gender" class="form-control">
						<option value="male">Male</option>
						<option value="female">Female</option>
						<option value="other">Other</option>
						<option value="unknown">Unknown</option>
					</select>
				</div>
			</div>
			<span class="includeCheckContainer"> 
				<span class="includeCheckCheck"> 
					<input name="active" id="active" type="checkbox" value="true"></input>
				</span> 
				<span class="includeCheckName">Active</span>
			</span>
			<!-- <span class="includeCheckContainer"> 
				<span class="includeCheckCheck"> 
					<input name="deceased" type="checkbox"></input>
				</span> 
				<span class="includeCheckName">Deceased</span>
			</span>
			<div class="form-group required" style="display: none;">
				<div class="input-group date datetime-group">
					<div class="input-group-addon">Date and Time (Deceased)</div>
					<input name="deceasedDateTime" class="form-control" type="text" placeholder=""></input>
					<div style="padding: 6px;" class="input-group-addon">
						<i class="fa fa-chevron-circle-down"></i>
					</div>
				</div>
			</div> -->
	</div>
</div>
</html>